@media (min-width: 992px) {

    .home{
   
        height: 870px;
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
        background-size: contain; 
        position: relative;
    }
    .middle{
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        top:320px;
        left:134px;
    }
    .title{
        font-size: 60px;
        color: #0C1F30;
        text-transform: uppercase;
    }
    .comp-mission{
        font-family: 'Roboto', sans-serif;
       color: #656565;
        font-size: 14px;
        text-transform: uppercase;
    }
    .hide-middle{
        display: none;
    }
    
}


@media only screen and (max-width: 992px){
    .home{
        height: 100vh;
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
        background-size:cover; 
        position: relative;
    }
    .middle{
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        top:200px;
        left:44px;
        padding: 20px;
        
    }
    .hide-middle{
        display: none;
    }
    .title{
        font-size: 40px;
        color: #0C1F30;
        text-transform: uppercase;
    }
    .comp-mission{
        font-family: 'Roboto', sans-serif;
       color: #656565;
        font-size: 14px;
        text-transform: uppercase;
    }
}