.home{
   
    height: 870px;
    background-image: url('../images//background.png');
    background-repeat: no-repeat;
    background-size: contain; 
    position: relative;
}
.middle{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top:320px;
    left:134px;
}
.title{
    font-size: 60px;
    color: #0C1F30;
    text-transform: uppercase;
}
.compMission{
    font-family: 'Roboto', sans-serif;
   color: #656565;
    font-size: 14px;
    text-transform: uppercase;
}